<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vérification du Code</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
  <div class="container mt-5">
    <h2>Vérification du Code</h2>
    <form method="POST">
      <div class="form-group">
        <label for="code">Entrez le code reçu par email :</label>
        <input type="text" class="form-control" name="code" required>
      </div>
      <button type="submit" class="btn btn-primary">Vérifier</button>
    </form>
  </div>
</body>
</html>
